Source: mercurial-keyring
Section: python
Priority: optional
Maintainer: Christoph Mathys <eraserix@gmail.com>
Build-Depends: debhelper-compat (= 12), python3-all, python3-setuptools, dh-python
Standards-Version: 4.4.1
Homepage: http://pypi.python.org/pypi/mercurial_keyring

Package: mercurial-keyring
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, mercurial, mercurial-extension-utils (>= 1.5.0)
Description: Mercurial Keyring Extension
 mercurial_keyring is a Mercurial extension used to securely save HTTP
 and SMTP authentication passwords in password databases (GNOME Keyring,
 KDE KWallet, OSXKeyChain, specific solutions for Win32 and command line).
 This extension uses and wraps services of the keyring library.
